# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
MemoryCaptures/
# --- IDE/Editor ---
.vs/
.vscode/
*.csproj
*.sln
*.user
*.suo
*.unityproj
*.pidb
*.svd
*.userprefs
# --- OS junk ---
.DS_Store
Thumbs.db
